{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PythonTest</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
</head>
<body>
    <header>
        <div class="main">
            <ul>
                <li><a href='#'>Home</a></li>
                <li><a href='#'>Services</a></li>
                <li><a href='#'>Contact</a></li> 
                <li><a href='#'>info</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>Python Test</h1>
            <h2>Press the Button to Execute the Test File</h2>
        </div>
        <div class="button">
            <a href="execute"><button type="submit" class="btn">EXECUTE</button></a>
        </div>
    </header>
</body>
</html>